#ceruleanjs {
    width: 800px;
}

#ceruleanjs #inner {
    margin-left: auto;
    margin-right: auto;
    height: 600px;
}

#ceruleanjs #terminal {
    background-color: black;
    border-radius: 5px;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 10px 0;
}

#ceruleanjs #terminal pre {
    color: white;
    font-size: 12px;
    margin: 0;
    padding: 0 10px;
}

#ceruleanjs input#command {
    border: none;
    color: white;
    width: 100%;
    background-color: #222;
    font-family: monospace;
    font-size: 12px;
    padding: 0 10px;
    display: block;
}

#ceruleanjs #button-container {
    text-align: center;
}

#ceruleanjs #fen-container, #ceruleanjs #button-container, #ceruleanjs #pgn-container {
    margin: 10px 0;
}

#ceruleanjs #button-container button, #ceruleanjs #button-container select {
    height: 20px;
    font-size: 10px;
}

#ceruleanjs #status, #ceruleanjs h1 {
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#ceruleanjs #status {
    margin: 0;
}

#ceruleanjs h1 {
    margin: 10px 0;
}

#ceruleanjs #fen-container, #ceruleanjs #pgn-container {
    border: 1px solid #333;
    border-radius: 5px;
    background: transparent linear-gradient(to right, #2A52BE 0px, #69AFE5 100%) repeat scroll 0% 0%;
    color: #000;
    position: relative;
    padding: 10px 0;
    overflow: hidden;
}

#ceruleanjs #pgn-container {
    background: #fff;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

#ceruleanjs #pgn {
    margin: 10px 0;
}

#ceruleanjs #fen-container #fen-name, #ceruleanjs #terminal #terminal-name, #ceruleanjs #pgn-container #pgn-name {
    background-color: #fff;
    color: #000;
    display: inline-block;
    font-size: 7px;
    top: 0;
    padding: 5px;
    font-weight: bold;
    position: absolute;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5)
}

#ceruleanjs #fen-container #fen {
    color: #fff;
    text-align: center;
}

#ceruleanjs input#command:focus {
    outline: none;
}

#ceruleanjs #webgl-message {
    display: none;
}

#ceruleanjs .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}

#ceruleanjs .alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

#ceruleanjs #thinking-container {
    width: 100%;
    text-align: center;
    height: 35px;
    line-height: 35px;
}

#ceruleanjs #thinking-container #thinking {
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    display: none;
}

@keyframes spinner {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}